<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/css/estilos.css">
    <title>Hoja de vida David López</title>
</head>
<body>
    <div class="container">
        <div class="left_side">
            <div class="profiletext">
                <div class="imgBx">
                    <img src="perfil.jpg" alt="2%">
                </div>
                <h2>David López</h2><span class="sub">Desarrollador web</span>
            </div>
            <div class="contactinfo">
                <h3 class="title">Información de Contacto</h3>
                <ul>
                    <li>
                        <span class="icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        <span class="text">+58 4243533481</span>
                    </li>
                    <li>
                        <span class="icon">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                        <span class="text">leonar2003@gmail.com</span>
                        <li>
                            <span class="icon">
                                <i class="fa fa-telegram" aria-hidden="true"></i>
                            </span>
                            <span class="text">@David_Leo_Lopez</span>
                        </li>    
                    <li>
                        <span class="icon">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </span>
                        <span class="text">Davidleo03</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right_side">
            <div class="abou">
                <h2 class="profile">Perfil</h2>
                <p>Hola mi nombre es David López, soy estudiante de Ingeniería en Informática en la 
                    Universidad Rómulo Gallegos, el primer lenguaje de programación que aprendí fué 
                    <strong>JavaScript</strong> solo hice un curso básico, luego comencé cursos de html 
                    y css(aunque no son lenguajes de programación), me fue llamando la atención la programación
                    web, aunque por no tener computadora propia no pude expandir mis conocimientos hasta hace poco.
                    <br> Actualmente he hecho pequeños proyectos como conectar un formulario con una base de datos,
                    hice un CRUD con Node.js, express y Mysql, pero todo localmente en mi computadora(no tengo experiencia
                    con servidores en la web por mi falta de conexión a internet), tambien sé un poco de python y Java.
                </p>
            </div>
            <div class="contactinfo lenguajes">
                <h2 class="profile">Lenguajes</h2>
            </div>
            <ul>
                <li>
                    <span class="text left">HTML</span>
                    <span class="porcent"></span>
                    <div style="width: 80%;" class="barra"></div>
                </li>
                <li>
                    <span class="text left">CSS</span>
                    <span class="porcent"></span>
                    <div style="width: 400px;" class="barra"></div>
                <li>
                    <span class="text left">JavaScript</span>
                    <span class="porcent"></span>
                    <div style="width: 70%;"  class="barra"></div>
                </li>
                <li>
                    <span class="text left">Python</span>
                    <span class="porcent"></span>
                    <div style="width: 60%;" class="barra"></div>
                </li> 
                <li>
                    <span class="text left">PHP</span>
                    <span class="porcent"></span>
                    <div style="width: 50%;" class="barra"></div>
                </li>
                <li>
                    <span class="text left">SQL</span>
                    <span class="porcent"></span>
                    <div style="width: 60%;" class="barra"></div>
                </li>

            </ul>
        </div>
    </div>
</body>
</html>